@font-face {
    font-family: 'serithai';
    src: url('./fonts/Serithai-Regular.ttf');
}
@font-face {
    font-family: 'dm-sans-italic';
    src: url('./fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'dm-sans';
    src: url('./fonts/DMSans-VariableFont_opsz\,wght.ttf');
}
  
.serithai {
    font-family: 'serithai';
}
.dm-sans-italic {
    font-family: 'dm-sans-italic';
}
.dm-sans {
    font-family: 'dm-sans';
}